.historia-container{

    background-color: var(--green);
    color: var(--white);
    font-family: var(--info-font);
    display: flex;
    flex-direction: row;
    box-shadow: 0px 5.16923px 5.16923px 0px rgba(0, 0, 0, 0.25);
    border-radius: 1.5rem;
    padding: 2rem;
    width: 60%;
    
}

.barras-porcentaje{
    display: flex;
    flex-direction: column;
}
