.Contenedor-Ayuda {
    min-height: 900px;
    position: relative;
    background: url('../../../assets/img/cat2-home.png') 50% / cover no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    color: var(--white);
    background-color: var(--green);
   
}

.Contenedor-Ayuda-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    margin-left: 900px;
    gap: 2rem;

}

.Contenedor-Ayuda-text h1{
    font-family: var(--titles-font);
}

.Contenedor-Ayuda-text h3{
    font-family: var(--info-font);
}

.Contenedor-Ayuda button {
    padding: 0.9rem 1.75rem;
    background-color: var(--pink);
    color: var(--white);
    outline: none;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s;
    margin-right: 2rem;
    max-width: 200px;
    margin-top: 25px;
}
