.image-slider {
  display: flex;
  flex-direction: row; /* Set the direction to column */
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 90%;
  margin: 0 auto; /* Center the slider horizontally */
}

.slider-group {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.image-container {
  position: relative;
  min-height: 200px;
  margin: 0 5px;
}

img {
  max-width: 100%;
  min-height: 100%;
  border-radius: 0.5rem;
}

.image-label {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  text-align: center;
}



.arrow-button {
  margin: 0 10px;
  padding: 8px 12px;
  font-size: 16px;
  background-color: var(--pink);
  border-radius: 8rem;
  border: none;
  cursor: pointer;
  width: 5rem;
  height: 4rem;
}

.arrow-button span {
  display: inline-block;
  transform: rotate(180deg);
  transition: transform 0.3s;
  background-color: var(--pink);
  color: var(--white);
  font-weight: bold;
}

.arrow-button.next span {
  transform: rotate(0deg);
}

