.contenedor-escoger{
    display: flex;
    flex-direction: column;
    min-height: 850px;
    gap: 20px;
    padding: 0 4rem;
    
   


}

.Texto{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4rem;
        

}

.Imagenes-Gatos{
    
}

.Texto :first-child{
    color: var(--blue);
    font-weight: bold;
    font-size: 3rem;
    font-family: var(--titles-font);
    
}

.Texto :last-child{
    font-family: var(--info-font);
    color: var(--dark-gray);
    font-size: 1.2rem;
    padding-top: 3rem;
    

}

.Mas-Info {
    background-color: var(--blue);
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    width: 80%;
    min-height: 5rem;
    border-radius: 0.2rem;
    margin: auto; /* Center the div itself */
    margin-top: 3rem;
}

.Mas-Info span{
    background-color: transparent;
    font-family: var(--titles-font);
    color: var(--white);
    margin-left: 2rem;
}


.Mas-Info button {
    background-color: var(--pink);
    border-radius: var(--button-border);
    color: var(--white);
    border: none;
    min-height: 3.5rem;
    font-family: var(--info-font);
    cursor: pointer;
    margin-left: auto;
    margin-right: 2rem;
    padding: 1rem;
    
}


