.contenedor-gato-home {
    min-height: 900px;
    position: relative;
    background-image: url('../../../assets/img/gato-header.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.contenedor-gato-home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(255, 141, 158, 0.308); 
    z-index: 0;
}

.header-logo-container span {
    font-family: var(--titles-font);
    padding: 25px;
    font-size: xx-large;
    font-weight: bold;
    z-index: 1; 
}

.contenido {
    width: 580px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1; 
    background-color: transparent;
    line-height: 35px;
    color: var(--white);
    padding-left: 70px;
    font-family: var(--info-font);
    align-items: center;
    top: 50%; 
    transform: translateY(-50%);
}

.contenido p{
    background-color: transparent;
    font-weight: bold;
}

.header-logo-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contenido button {
    padding: 0.9rem 1.75rem;
    background-color: var(--pink);
    color: var(--white);
    outline: none;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-family: var(--info-font);
    font-weight: 500;
    transition: 0.2s;
    margin-right: 2rem; 
    max-width: 200px;
    margin-top: 25px;
}

.header-logo-container,
.header-logo-container img,
.header-logo-container span,
.contenido span {
    background-color: transparent;
}

@media (max-width: 1024px) {
    .contenedor-gato-home {
      min-height: 345px;
      width: 100%;
      position: relative;
      background-image: url('../../../assets/img/gato-header.png');
      background-size: 170%;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;
    }


    .contenedor-gato-home::before{
        min-height: 345px;
    }
  
    .contenido {
      width: 90%;
      padding-left: 15px;
      padding-right: 15px;
      text-align: left;
      position: absolute;
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -55%); 
    }

    .contenido {
        font-size: 1rem;
    }
  
    .contenido button {
      margin-right: 0;
      margin-top: 15px;
    }

    .header-logo-container img{
        display: none;
    }

    .header-logo-container span{
        font-size: 1.5rem;
        text-align: left;
    }
  }