.image-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
  }
  
  .arrow-button {
    margin: 0 10px;
    padding: 8px 12px;
    font-size: 16px;
    background-color: var(--pink);
    border-radius: 1.5rem;
    border: none;
    
  }

  .arrow-button span {
    display: inline-block;
    transform: rotate(180deg);
    transition: transform 0.3s;
    background-color: var(--pink);
    color: var(--white);
    font-weight: bold;
  }
  
  .arrow-button.next span {
    transform: rotate(0deg);
  }
  
  .slider-group {
    display: flex;
  }
  
  .image-container {
    position: relative;
    margin: 0 5px;
  }
  
  img {
    max-width: 100%;
    max-height: 200px;
  }
  
  .image-label {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    text-align: center;
  }
  