.event-view .cuadro-informacion button:hover{
  
    background-color: var(--pink-hover);
    
}
.home-view .cuadro-informacion button:hover{
  
    background-color: var(--pink-hover);
    
}

.home-view .eventos-card-container {
    height: auto;
    width: 390px;

    display: flex;
    flex-direction: row;
    background-color: var(--dark-gray);
    border-radius: 37.99px 37.99px 37.99px 37.99px;

    margin: 10px;
}

.home-view .cont-superior{
    width: 40%;
    background-color: var(--dark-gray);
    border-radius: 36.90px 0px 36.90px 36.90px;
}


.home-view .cuadro-fecha {
    background-color: var(--blue);
    border-radius: 37.99px 37.99px 0px 37.99px;
    
    width: auto;
    height: 100%;
    text-align: center;
    
    padding: 4px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-view .cuadro-fecha h1 {
    font-family: var(--titles-font);
    color: var(--dark-gray);
    font-size: 1.8rem;
    font-weight: 620;

    background-color: transparent;
    padding: 30px 0;
    width: 60%; 
    text-align: center;
    margin: 2rem;
}

.home-view .cuadro-fecha span{
    display: none;
}


.home-view .cuadro-informacion {
    font-family: var(--info-font);
    background-color: var(--dark-gray);
    color: var(--white); 

    width: 100%;

    border-radius: 0 37.99px 37.99px 0;

    display: flex;
    flex-direction: column;

    margin-top: 0.2rem;
    width: 80%;
    padding-left: 0.6rem; 
    padding-right: 1rem;   

    line-height: 1.5;
}

.home-view .titulo-evento {
    background-color: transparent;
    font-weight: 600;
    order: 0;
}

.home-view .titulo-evento h1 {
    background-color: transparent;
    color: var(--white);
    font-size: 1.6rem;
}

.home-view .ubicacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    margin: 0.3rem 0rem;

}


.home-view .ubicacion img {
    background-color: transparent;
    max-height: 30px;
    margin-right: 0.3rem;
}

.home-view .ubicacion p {
    background-color: transparent;
}

.home-view .descripcion  {
    background-color: transparent;
    width: 110%; 
}

.home-view .descripcion p {
    background-color: transparent;
    
}


.home-view .cuadro-informacion button {
    background-color: var(--pink);
    font-family: var(--info-font);
    border: none;
    border-radius: var(--button-border);
    cursor: pointer;
    width: 80%;
    height: 3.0rem; 
    color: var(--white);
    padding: 0.3rem;
    margin-top: auto;  
    margin-bottom: 0.4rem; 
    margin-left: -4px;
    align-items: baseline;
}

.home-view .img-cont-hidden {
    display: none;
    background-color: transparent;
}
  

.event-view{
    width: 450px;
}
.event-view .eventos-card-container {
    height: 350px;
    width: 450px;

    display: flex;
    flex-direction: column;

    background-color: var(--dark-gray);
    border-radius: 37.99px;
}

.event-view .cont-superior{
    display: flex;
    flex-direction: row;

    background-color: transparent;
    height: 150px;
}

.event-view .cuadro-fecha {
    background-color: var(--blue);
    border-radius: 37.99px 0px 0px 0px;
    width: 30%;
    height: 100%;
    text-align: center;
    padding: 2px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.event-view .cuadro-fecha h1 {
    font-family: var(--titles-font);
    color: black;
    font-size: 2.0rem;
    font-weight: 620;
    background-color: transparent;
    padding: 0;
    width: 60%;
    text-align: center;
    margin: 2rem;
}

.event-view .cuadro-fecha span{
    display: none;
}

.event-view .cuadro-informacion {
    font-family: var(--info-font);
    background-color: var(--dark-gray);
    color: var(--white);

    border-radius: 37.99px;

    display: flex;
    flex-direction: column;

    margin-top: 0;
    width: 100%; 
    height: 100%;
    
    line-height: 1.5;
}

.event-view .titulo-evento {
    background-color: transparent;
    font-weight: 600;
    margin-left: 0.5rem;
    order: 0;
}

.event-view .titulo-evento h1 {
    background-color: transparent;
    color: var(--white);
    font-size: 1.8rem;
}

.event-view .ubicacion {
    display: flex;
    flex-direction: row;
    background-color: transparent;

    margin-top: auto;  
    margin-bottom: 0.9rem; 
    margin-left: 0.5rem;
    align-items: center;

    order: 2;
    
}

.event-view .ubicacion img {
    background-color: transparent;
    max-height: 30px;
}

.event-view .ubicacion p {
    background-color: transparent;
    margin-left: 0;
    
}

.event-view .descripcion  {
    background-color: transparent;
    width: 100%;
    margin-left: 0.5rem;
}
.event-view .descripcion p {
    background-color: transparent;
    
}

.event-view .cuadro-informacion button {
    align-self: flex-end; 

    font-family: var(--info-font);
    
    background-color: var(--pink);
    border: none;
    border-radius: var(--button-border);
    cursor: pointer;
    width: 160px;
    height: 50px;
    color: var(--white); 
    
    transform: translate(-15%, 70%); 

}




.img-cont-visible {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    

    background-color:transparent;
    border: none;
}

.event-view .img-cont-visible img {
    /* Event page styling */
    width: 100%;
    height: 100%;

    border-radius: 0px 37.99px  0px 0px;
}

@media (max-width: 1024px){
    .event-view{
        width: 370px;
        
    }
    .event-view .eventos-card-container{
        height: auto;
        width: 360px;
        font-size: smaller; 

        display: flex;
        flex-direction: column;
    }

    .event-view .cont-superior{
        display: flex;
        flex-direction: row;
        background-color: transparent;
        height: 130px;
    }

    .event-view .cuadro-fecha {
        
        width: 30%;
        height: 100%;
        text-align: center;
        padding: 2px 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .event-view .img-cont-visible img{
        height: 100%;
    }

    .event-view .cuadro-fecha h1{
        font-size: 1.2rem;
        margin-top: 30%;
    }

    .event-view .titulo-evento h1{
        font-size: 1.2rem;
        margin-top: 4%;
        margin-left: 4%;

        order: 0;
    }

    .event-view .ubicacion{
        transform: translate(4%, 5%); 
        margin: 0px 0px 8px 0px;
        order: 2;
    }

    .event-view .descripcion{
        
        width: 90%;
        padding: 0 0 15px 0;

        transform: translate(5%, 15%); 

        order: 1;
    }

    .event-view .cuadro-informacion button {
    
        width: 160px;
        height: 50px;
        
        transform: translate(-115%, 0%); 

        margin-top: 0%;  
        margin-bottom: 0.4rem; 
        align-items: baseline;

        order: 3;
    
    }
}