/* Add these styles to your existing CSS */

.header-donation {
    background-image: url('https://s3-alpha-sig.figma.com/img/6c36/d72e/e90542c48b80cb2180ec6d4e319d3cf8?Expires=1701648000&Signature=MxHfrJJrPcu6tSXvpP55F9osX3WI4bjS1ofk0b0IxlLgUeZF7edaXf~UETg~jkcqll3RFmOuVaMz~yjryZ7Hu9mHhK1Hb91Dzy9npdq0dQsmYxoMgE9dzyQnFly2tmBEF~oDFbIApWIcj9x00m7JzA8DcNHbn7rUoFIgFbYM6L1w3U3lCVuJi6UDlPj6PXAE5fqSXk1B9n~HFXNoldt1jIoD8lc87zcgkh6gqjZadZVHpgQGKOdVKrb1CwzdlST-xkFSHdQtlx18rM3kiSx9QaKmNnDCkdiwbtnprQFqB96CQktMfYXkkwidbLi15eplWE5U40ExHVbORYq8ll7Nfw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
    background-color: rgba(255, 182, 193, 0.8); /* Adjust the alpha value (0.0 to 1.0) for transparency */
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    color: var(--white);
    padding: 20px;
    text-align: center;

   
}

.donation-form-container {
    padding: 3rem;
}

.header-donation h1 {
    font-family: var(--titles-font);
    background-color: transparent;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 50px;
}

.donation-page h2 {
    color: var(--pink);
    font-family: var(--info-font);
    margin-bottom: 20px;
}

.donation-page h3 {
    color: var(--pink);
    font-family: var(--info-font);
    margin-bottom: 20px;

}

.donation-form-container p {
    font-family: var(--info-font);

}

.header-donation p {
    font-size: 1.2em;
    font-family: var(--info-font);
    background-color: transparent;
    max-width: 600px;
    margin: 0 auto;
}

.donation-form-top,
.donation-form-bottom {
    margin: 20px 0;

}

.donation-form-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns with equal width */
    column-gap: 20px;
    /* Adjust the gap between columns as needed */
    align-items: start;
    /* Align items to the top */
    justify-content: start;
    /* Justify items to the start (left) */
}

.imagenes-top {
    grid-column: 1;
    /* Place the imagenes-top in the first column */
    display: flex;
    flex-direction: column;
}

.imagenes-top img {
    max-width: 100%;
    /* Adjust the width as needed */
    height: auto;
    margin-bottom: 10px;
}

.personal-data {
    grid-column: 2;
    /* Place the personal-data in the second column */
    display: flex;
    flex-direction: column;

}



.donation-form-top label {
    margin-bottom: 5px;
    font-family: var(--info-font);
    color: var(--dark-gray);
}

.donation-form-bottom label {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
    font-family: var(--info-font);
    color: var(--dark-gray);

}

.donation-form-top input,
.donacion-fields input,
.donation-form-top select,
.donation-form-bottom select {
    width: 700px;
    height: 50px;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 0.5rem;
    color: var(--dark-gray);
}

.terminos p {
    width: 750px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.terminos span {
    font-weight: bold;
}



#dedicar {
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}


.formas-pago {
    display: flex;
    flex-direction: column;
}

.formas-pago label {
    margin-bottom: 5px;
    font-family: var(--info-font);
    color: var(--dark-gray);
}

.formas-pago input[type="radio"] {
    margin-right: 5px;


}




.donation-aceptar {
    background-color: var(--pink);
    font-family: var(--info-font);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.agradecimiento {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.agradecimiento p{
    width: 650px;
    color: var(--dark-gray);
    margin-left: 20px;

}

.agradecimiento img {
    border-radius: 0px;
}

.donation-form-bottom {
    background-image: url('/home/valeria/Documents/FINAL PUFF/proyecto-equipo-13-sec-01-powerpuffs/proyecto-equipo-13-sec-01-powerpuffs-client/src/assets/img/gato-donation-bottom.png');
    
    background-size: cover;
    background-position: center;
    color: var(--dark-gray);
    /* Adjust text color as needed */
    padding: 20px;
    border-radius: 10px;
    /* Adjust border radius as needed */
    margin-top: 0px;
    /* Adjust margin as needed */
    width: 100%;
    height: 1191.057px;
}