.contenedor-mision {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    min-height: 750px;
    align-items: center;
    justify-content: center;
    padding: 5rem 10rem 5rem 10rem;
    gap: 3rem;
    text-align: center;
}

.contenedor-mision h1 {
    font-size: 45.588px;
    font-family: var(--titles-font);
    color: var(--dark-gray);
    font-weight: bold;
    margin-bottom: 3rem;

}


.columns-mision {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* Center the content horizontally */
}

.contenedor-mision h2  {
    color: var(--pink);
    font-size: 36px;
    margin: auto;
    font-family: var(--info-font);
}

.contenedor-mision p {
    display: flex;
    flex-direction: column;
    font-family: var(--info-font);
    color: var(--dark-gray);
    margin: 0 20px;
    /* Add margin for spacing between columns */
    padding: 3rem;
    justify-content: center;
    text-align: left;
    font-size: 21px;
}

.mision-parrafo {
    margin-top: 2rem;
}