.news2-container {

    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    min-height: 100vh;
    font-family: var(--info-font);
    color: var(--dark-gray)
}


.event-filter-containerN{
    margin: 20px;
}

.event-filter-txtN{
    display: flex;
    flex-direction: row;
    margin: auto;

    justify-content: center;
    
}

.event-filter-txtN h2{
    font-size: 1.3rem;
    width: auto;
    margin: 0px 20px;

    
}

.event-filter-txtN #filter-icon{
    border: none;
    border-radius: 0px;

    width: 45px;
    cursor: pointer;

}

.event-filter-txtN img:hover{
    transform: scale(0.8);
}

.event-filterN {
    font-family: var(--info-font);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;
}

.event-filter-itemN{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin: 10px;
}

.event-filter-itemN p{
    width: 20%
}
.event-filter-itemN input {
    font-family: var(--info-font);
    width: 300px;
    padding: 10px;

    border-radius: 0.5rem;
    border: 1px solid var(--dark-gray);
}

.event-filter-itemN select {
    font-family: var(--info-font);
    color: var(--dark-gray);
    width: 300px;
    padding: 10px;

    border-radius: 0.5rem;
    border: 1px solid var(--dark-gray);
}



.filter-buttonsN {
    display: flex;
    margin: 10px;
    justify-content: right;
    gap: 20px;
}

.filter-buttonsN button {

    font-family: var(--info-font);
    border: none;
    border-radius: var(--button-border);
    cursor: pointer;
    width: 160px;
    height: 50px;
    color: var(--white); 
    margin-right: 30px;
}

.filter-buttonsN #submit {
    background-color: var(--pink);
}

.filter-buttonsN #delete {
    background-color: var(--green);
}

.filter-buttonsN #submit:hover {
    background-color: var(--pink-hover);
}

.filter-buttonsN #delete:hover {
    background-color: var(--green-hover);
}

.news-container {
    display: flex;
    flex-direction: column;

    margin: 10px;
    height: auto;
    width: 700px;
    padding: 0 auto;

    

    justify-content: center;
    align-items: center;

}

.view-more-container2 {

    justify-content: center;
}

.view-more-container2 button {

    font-family: var(--info-font);
    background-color: var(--blue);
    color: var(--white);
    font-weight: 600;

    border: none;
    border-radius: var(--button-border);

    cursor: pointer;

    width: 160px;
    height: 45px;
    margin-bottom: 20px;;
}

.view-more-container2 button:hover {

    background-color: var(--blue-hover);
    
}

.news-container .no-result {
    
    text-align: center;
    font-size: 1.5rem;
    width: auto;
    height: auto;

    padding: 0 600px;
}

  
@media (max-width: 1023px){
    .news2-container{
        width: 95%;

        padding: 0;
        margin: 0 auto;
        justify-content: center;
        
        
    }

    .news-container{
        width: 95%;

        padding: 0;
        margin: 0px 0px 8px 0px;

        justify-content: center;

        
        
    }

    .event-filter-containerN{
        margin: 20px;
        width: 100%;
    }
    
    .event-filter-txtN{
        margin: auto;

        width: 85%;
        
    }
    
    .event-filter-txtN h2{
        font-size: 0.9rem;
    }

    
    .event-filterN {
        font-family: var(--info-font);
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    
    .event-filter-itemN{
        gap: 20px;
    }
    
    .event-filter-itemN p{
        width: 30%
    }
    
    
    .filter-buttonsN {
        justify-content: center; 
    }

    .view-more-container2 {

        justify-content: center;
        transform: translate(0%, 0%);

    }

    
}