.newspage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: var(--info-font);
    color: var(--dark-gray);

    margin: 0 auto;
    padding: 0 auto;
}



.newspage-filter-containerN{
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.newspage-filter-txtN{
    display: flex;
    flex-direction: row;
    margin: auto;

    justify-content: center;

    
}

.newspage-filter-txtN h2 {
    font-size: 1.3rem;
    margin: 0px 20px;
}

.newspage-filter-txtN #filter-icon{
    border: none;
    border-radius: 0px;

    width: 45px;
    cursor: pointer;

}

.newspage-filter-txtN img:hover{
    transform: scale(0.8);
}

.newspage-filterN {
    font-family: var(--info-font);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;
}

.newspage-filter-itemN{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin: 10px;
}

.newspage-filter-itemN p{
    width: 20%
}

.newspage-filter-itemN input {
    font-family: var(--info-font);
    width: 300px;
    padding: 10px;

    border-radius: 0.5rem;
    border: 1px solid var(--dark-gray);
}

.newspage-filter-itemN select {
    font-family: var(--info-font);
    color: var(--dark-gray);
    width: 300px;
    padding: 10px;

    border-radius: 0.5rem;
    border: 1px solid var(--dark-gray);
}


.filter-buttonsN {
    display: flex;
    margin: 10px;
    justify-content: right;
    gap: 20px;
}

.filter-buttonsN button {

    font-family: var(--info-font);
    border: none;
    border-radius: var(--button-border);
    cursor: pointer;
    width: 160px;
    height: 50px;
    color: var(--white); 
    margin-right: 30px;
}

.filter-buttonsN #submit {
    background-color: var(--pink);
}

.filter-buttonsN #delete {
    background-color: var(--green);
}

.filter-buttonsN #submit:hover {
    background-color: var(--pink-hover);
}

.filter-buttonsN #delete:hover {
    background-color: var(--green-hover);
}



.view-more-container2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.view-more-container2 button {

    font-family: var(--info-font);
    background-color: var(--blue);
    color: var(--white);
    font-weight: 600;

    border: none;
    border-radius: var(--button-border);

    cursor: pointer;

    width: 160px;
    height: 45px;
    margin-bottom: 20px;;
}

.view-more-container2 button:hover {

    background-color: var(--blue-hover);
    
}

.newspage-container .no-result {
    
    text-align: center;
    font-size: 1.5rem;
    width: auto;

    padding: 0 600px;
}

  
@media (max-width: 1024px){
    .newspage-container{
        width: 100%;

        padding: 0;
        margin: 0 auto;
        justify-content: center;    
    }


    .newspage-filter-containerN{
        margin: 20px auto;
        width: 75%;
    }
    
    .newspage-filter-txtN{
        margin: 10px auto ;

        width: 100%;
        justify-content: center;
        align-items: center;

        
    }
    
    .newspage-filter-txtN h2{
        font-size: 0.9rem;
    }

    
    .newspage-filterN {
        font-family: var(--info-font);
        display: flex;
        flex-direction: column;
        width: 100%;
        margin:0;
    }
    
    .newspage-filter-itemN{
        gap: 0;
        width: 100%;
        margin: 10px auto;
    }
    
    .newspage-filter-itemN p{
        width: 40%
    }
    
    
    .filter-buttonsN {
        justify-content: center;
        width: 100%; 
    }

    .view-more-container2 {

        justify-content: center;
        transform: translate(0%, 0%);

    }

    
}